[submodule "ibek-support"]
	path = ibek-support
	url = git@github.com:MaxHerbs/ibek-support.git
[submodule "ibek-support-dls"]
	path = ibek-support-dls
	url = git@gitlab.diamond.ac.uk:controls/containers/utils/ibek-support-dls.git
